<h1>Add Course</h1>
<form #addCourse="ngForm" (ngSubmit)="onAddCourse(addCourse.value)">
	<div class="form-group">
		<label for="title">Title</label>
		<input #title type="text" class="form-control" required  ngModel name="title">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input #description type="text" class="form-control" ngModel  name="description">
	</div>
	<div class="form-group">
		<label for="passKey">Pass Key (leave empty if it's public)</label>
		<input #passKey type="text" class="form-control" ngModel  name="passKey">
	</div>
	
	
	<button type="submit" class="btn btn-default" [disabled]="!addCourse.valid"  >Submit</button>
</form>
