.side-nav{
  padding: 10px;
}

.side-nav li{
  margin: 5px 0;
}

.nav-title {
  text-transform: uppercase;
  color: #aaa;
  text-align: left;
  padding: 10px;
  margin: 0;
}


.sub-nav{
  margin-left: 20px;
}
