.page {
  padding: 10px 30px 30px;
  /* background: #f4f4f4; */
}

.first-page .page, .first-page .panel-body {
  padding: 0;
}

.first-page .page{
  padding-bottom: 100px;
}

footer {
  background: #efefef;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p{
  font-size: 13px;
  color: 333;
  text-align: center;
  padding: 10px;
}

footer span{
  color: #CC4943;
  font-size: 20px;
}