<div class="home-new">
  <div class="box">
    <div class="logo">
      <img width="250" src="/assets/logo-v.png" alt="feeqly">
    </div>
    <a routerLink="/login" class="btn btn-primary navbar-btn">Login</a>
    <a routerLink="/register" class="btn btn-default navbar-btn">Register</a>
  </div>
</div>
<div class="home">
  <div class="bg"></div>
  <h1>Welcome to FEEQLY</h1>
  <h3>Feedback Questioning of the University</h3>

  <p>
    The University of Duisburg-Essen (UDE), one of the largest German universities, is committed to meeting its social responsibilities.
    To carry out the educational mandate with which it has been charged and to help drive the economic transformation of
    our region, we subscribe to national and international standards in the fields of research, education and management.
    We see our university as a homogenous whole inclusive of all subjects and all members and therefore strive for an interdisciplinary
    network and for the extensive participation of all academics, employees and students in the challenge of shaping the
    future of the UDE. In the field of research, we prioritize four interdisciplinary areas: • nanosciences • biomedical
    sciences • urban systems and metropolitan areas • change of contemporary societies We adhere to the traditional university
    unity of research and education.
  </p>

</div>